@model MvcBasic.Models.Upload

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*
    http://mugenup-tech.hatenadiary.com/entry/2014/08/28/100910
    //参考になる
    //モデルでバリデーションをする
    http://blog.shibayan.jp/entry/20110105/1294155788
    //CustomEmailValidator
    http://www.c-sharpcorner.com/UploadFile/rahul4_saxena/mvc-4-custom-validation-data-annotation-attribute/

*@
@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="uploadFile" />
            </div>
            <div class="col-md-10">
                <input type="submit" />
            </div>
        </div>
    </div>
}
