@model MvcBasic.Models.Member

@{
    ViewBag.Title = "CreateConfirm";

}

<h2>CreateConfirm</h2>

<div>
    <h4>Member</h4>
    <hr />
    <p>
        登録しました
    </p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
